@model UserProfileDTO

<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Profile Settings /</span> My Profile
    </h4>

    <div class="row">
        <div class="col-md-12">

            <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>
                <form asp-controller="User" asp-action="Profile" method="post">
                <!-- Account -->
              @*   <div class="card-body">
                    
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="../assets/img/avatars/1.png" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                                </label>



                            </div>
                        </div>
                </div> *@
                <hr class="my-0">
                <div class="card-body">

                    <div asp-validation-summary="All" class="text-danger"></div> @* Tüm proplar için Validasyon yaptık *@
                    <div class="row">
                        <div class="mb-3 col-md-6">
                                <label asp-for="FirstName" class="form-label">FirstName</label>
                            <input asp-for="FirstName" class="form-control" type="text" autofocus="">
                            <span asp-validation-for="FirstName"></span>  @* Validasyon yaptık *@
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="LastName" class="form-label">LastName</label>
                            <input asp-for="LastName" class="form-control" type="text" autofocus="">
                            <span asp-validation-for="LastName"></span> @* Validasyon yaptık *@
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input disabled asp-for="Email" class="form-control" type="text" autofocus="">
                            <span asp-validation-for="Email"></span> @* Validasyon yaptık *@
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" type="text" autofocus="">
                            <span asp-validation-for="PhoneNumber"></span> @* Validasyon yaptık *@
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                            <input asp-for="CurrentPassword" class="form-control" type="text" autofocus="">
                            <span asp-validation-for="CurrentPassword"></span> @* Validasyon yaptık *@
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="NewPassword" class="form-label">NewPassword (Optional)</label>
                            <input asp-for="NewPassword" class="form-control" type="text" autofocus="">
                            <span asp-validation-for="NewPassword"></span> @* Validasyon yaptık *@
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-success me-2">Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>

                </div>
                <!-- /Account -->
                </form>
            </div>

        </div>
    </div>



</div>