@model AuthorDetailDTO

<div class="container-xxl flex-grow-1 container-p-y">

    <div style="height:100px;"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">

                <h5 class="card-header"> <i class='bx bxs-user-circle'></i> @Model.FirstName @Model.LastName Profile </h5>

                <hr class="my-0">
                <div class="card-body">
                    <div class="row">

                        <div class="mb-3 col-md-6 mt-3">
                            <label asp-for="FirstName" class="form-label"> <i class='bx bx-child'></i> FirstName</label>
                            <input asp-for="FirstName" class="form-control" type="text" autofocus="" disabled>
                        </div>

                        <div class="mb-3 col-md-6 my-3">
                            <label asp-for="LastName" class="form-label"> <i class='bx bx-child'></i> LastName</label>
                            <input asp-for="LastName" class="form-control" type="text" autofocus="" disabled>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label asp-for="Email" class="form-label"> <i class='bx bx-envelope'></i> Email</label>
                            <input asp-for="Email" class="form-control" type="email" autofocus="" disabled>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label asp-for="PhoneNumber" class="form-label"> <i class='bx bx-phone'></i> Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" type="text" autofocus="" disabled>
                        </div>
                        
                    </div>
                </div>
              
                <div class="mt-4">
                    <a asp-controller="Home" asp-action="Index" type="submit" class="btn btn-dark me-2" > Back To HomePage </a>
                </div>

            </div>
        </div>
    </div>
</div>
