@model ArticleAddDTO
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Makale Yönetimi /</span> Makale Ekle
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header"></h5>
            <form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div> @* FluentValidation ile oluşturduğumuz hata mesajını görmek için bunu ekledik *@
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>

                        <a class="btn text-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                           Add New Article <i class="bx bx-plus"></i>
                        </a>

                        <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"ID","CategoryName"))"></select> 
                        @* ArticleUpdateDTO da Category türünde kategori olduğu için biz bunun adına ArticleUpdateDTO dan ulaşmak için böyle yaparız.  ıd ye ait isimdir. *@ 
                        <span asp-validation-for="CategoryId" class="text-danger"></span> @* FluentValidation ile oluşturduğumuz hata mesajını görmek için bunu ekledik *@

                    </div>
                    <div class="form-group">
                        <label asp-for="Title" id="defaultFormControlInput" class="form-label">Title</label>
                        <input asp-for="Title" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Please Input Article Title" aria-describedby="defaultFormControlHelp">
                        <span asp-validation-for="Title" class="text-danger"></span> @* FluentValidation ile oluşturduğumuz hata mesajını görmek için bunu ekledik *@
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" for="defaultFormControlInput" class="form-label">Content</label>
                        <textarea asp-for="Content" type="text" class="form-control mb-3" id="defaultFormControlInput" style="min-height:300px;" placeholder="Content" aria-describedby="defaultFormControlHelp"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span> @* FluentValidation ile oluşturduğumuz hata mesajını görmek için bunu ekledik *@
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" for="defaultFormControlInput" class="form-label">Upload Picture</label>
                        <input asp-for="Photo" type="file" accept="image/*" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                        <span asp-validation-for="Photo" class="text-danger"></span> @* FluentValidation ile oluşturduğumuz hata mesajını görmek için bunu ekledik *@
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block bg-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

